/* Global Variables & Reset */
:root {
	--text-color: #fff;
	--background-color: black;
	--menu-background-color: #111;
	--accent-color: #8727b8;
	--secondary-accent-color: orange;
	--tertiary-accent-color: green;
}

* {
	transition:
		border-color 0.1s linear,
		opacity 0.15s linear,
		transform 0.07s linear;
}

body {
	display: flex;
	align-items: center;
	background-color: var(--background-color);
	color: var(--text-color);
	height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Monaco, monospace;
}

body *,
#userInput {
	font-family: "Lucida Console", Monaco, monospace;
}

/* Header & Selectors */
#selectors {
	position: absolute;
	top: 2vmax;
	right: 7vmax;
}

select {
	width: 8vmax;
	color: var(--text-color);
	background-color: var(--menu-background-color);
}

/* Preference Menu */
.preferenceButton {
	background-image: url("img/settingsIcon.webp");
	background-size: cover;
	filter: invert(1);
	background-repeat: no-repeat;
	border: none;
	opacity: 0.8;
	margin: 0;
	position: absolute;
	top: 2vmax;
	right: 2vmax;
	width: 3vmax;
	height: 3vmax;
}

.closePreferenceButton {
	margin: 0;
	position: relative;
	top: 1vh;
	left: 1vh;
	background-image: url("img/x.webp");
	background-size: cover;
	background-repeat: no-repeat;
	height: 2vh;
	width: 2vh;
	filter: invert(1);
	border: none;
}

.preferenceButton:hover,
.closePreferenceButton:hover {
	opacity: 1;
	transform: scale(1.1);
}

.preferenceMenu {
	position: absolute;
	right: -37vh;
	z-index: 105;
	background: #111;
	height: 100vh;
	width: 33vh;
	border-left: 0.1vh solid var(--text-color);
	transition: right 0.08s linear;
}

.preferenceMenu ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: flex-end;
	padding: 0 1vh 0 0;
	height: 55vh;
}

.preferenceMenu ul li {
	color: var(--accent-color);
	font-size: 1.5vh;
	list-style: none;
}

input[type="checkbox"] {
	width: 2vh;
	height: 2vh;
	margin-left: 2vh;
}

li input {
	font-size: 1.7vh;
	width: 5vh;
	height: 1.7vh;
	margin: 0 1.5vh 0 auto;
}

/* Typography */
h1 {
	font-size: 3.5vmax;
	text-transform: uppercase;
	letter-spacing: 1vw;
}

/* Layout */
nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 10vw;
	height: 84vh;
	margin-left: 4vmin;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90%;
	margin-right: 10vmax;
	margin-bottom: 3vh;
	flex: 2 1 1000px;
}

/* Navigation Buttons */
nav button {
	flex: 1 1 11vh;
	margin: 0.5vh auto;
	width: 11vh;
	font-size: 1.5vh;
	color: var(--text-color);
}

/* Buttons */
button {
	background-color: transparent;
	border: 0.2vmax solid var(--text-color);
	color: var(--text-color);
	cursor: pointer;
	letter-spacing: 3px;
}

button:hover {
	font-weight: bold;
	border-color: var(--accent-color);
}

button:focus {
	outline: none;
}

/* Level System */
.lvl8 {
	display: none;
	font-size: 1.1vh;
	color: orange;
	border-color: orange;
}

/* Typing Area */
.typingArea {
	display: flex;
	flex-direction: column;
	width: 67vmin;
}

/* Text Display */
.fade {
	mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0));
}

.prompt {
	position: relative;
	font-size: 2.5em;
	margin: 10vh 0 0 0;
	letter-spacing: 0.1vmax;
}

.smoothScroll {
	transition: left 0.1s linear;
}

.paragraph {
	word-wrap: break-word;
	width: 100%;
	margin: 6.5vmin auto 0 auto;
}

.line {
	white-space: nowrap;
}

.paragraph .line {
	margin-left: 1.6vmin;
	display: block;
}

.prompt {
	position: relative;
	font-size: 2.5em;
	margin: 10vh 0 0 0;

	letter-spacing: 0.1vmax;
}

.smoothScroll {
	transition: left 0.1s linear;
}

.paragraph {
	word-wrap: break-word;
	width: 100%;
	margin: 6.5vmin auto 0 auto;
}

.line {
	white-space: nowrap;
}

.paragraph .line {
	margin-left: 1.6vmin;
	display: block;
}

/* Input Elements */
#resetButton {
	margin: 6vmin auto 4vmin auto;
	width: 30%;
	font-size: 4.5vh;
}

input {
	height: 6vmin;
	font-size: 4vmin;
	width: 80%;
	margin: 2.5vh auto 3vh auto;
}

/* Score Display */
#scoreAndClock {
	display: flex;
	justify-content: space-around;
	font-size: 5vmin;
}

#scoreText,
#timeText {
	font-family: "Verdana", sans-serif;
}

/* Test Results */
#testResults {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 0.8 1 7vh;
}

/* Footer & Links */
.bottomText {
	position: absolute;
	font-size: 1vmin;
	bottom: 0;
	text-align: center;
}

a:link {
	color: var(--accent-color);
}

/* Slider Toggle */
#mappingToggle {
	position: absolute;
	bottom: 3vh;
	right: -6vh;
	width: 15vw;
}

#mappingToggle h6 {
	position: relative;
	left: -2.6vmin;
	font-size: 1vmin;
	margin: 0 0 2vmin 0;
}

.switch {
	position: relative;
	display: inline-block;
	width: 7.5vmin;
	height: 4.5vmin;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
}

.slider:before {
	position: absolute;
	content: "";
	height: 3vmin;
	width: 3vmin;
	left: 0.75vmin;
	bottom: 0.75vmin;
	background-color: white;
	transition: 0.2s;
}

input:checked + .slider {
	background-color: var(--accent-color);
}

input:focus + .slider {
	box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
	transform: translateX(3vmin);
}

/* Keyboard Cheatsheet */
.cheatsheetContainer {
	display: flex;
}

.row {
	display: flex;
	justify-content: space-between;
	height: 5vh;
	width: 75vh;
}

.key,
.cKey {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	border: 0.2vh solid var(--accent-color);
	height: 75%;
	width: 5%;
	vertical-align: top;
}

.letter {
	display: block;
	font-size: 2.2vh;
	font-weight: bold;
	text-transform: uppercase;
}

/* Key Sizes */
.oneu {
	width: 5.4%;
}
.twou {
	width: 11.75%;
}
.onepointfiveu {
	width: 8.8125%;
}
.onepointsevenfiveu {
	width: 10.28125%;
}
.twopointtwofiveu {
	width: 13.21875%;
}
.twopointsevenfiveu {
	width: 16.15625%;
}
.onepointtwofiveu {
	width: 7.34375%;
}
.sixpointtwofiveu {
	width: 36.71875%;
}

#ISOEnterTop {
	width: 95.6%;
}

#ISOEnterBot {
	position: relative;
	margin-top: -2.33%;
	margin-left: auto;
	width: 79.33%;
	height: 100%;
	border-style: none solid solid solid;
}

/* Key States */
.inactive {
	border-color: var(--accent-color);
	filter: brightness(0.5);
}

.currentLevelKeys {
	border-color: var(--tertiary-accent-color);
	color: var(--tertiary-accent-color);
	filter: brightness(1.2);
}

.homeRow {
	border-color: var(--secondary-accent-color);
	color: var(--secondary-accent-color);
}

.restingPosition {
	text-decoration-line: underline;
	text-underline-offset: 4px;
}

.active {
	border-color: var(--accent-color);
	color: var(--accent-color);
	filter: brightness(1.5);
}

.punctuation {
	border-color: var(--text-color);
	color: white;
	filter: brightness(1.5);
}

/* UI Buttons */
.openUIButton {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cc/Edit_Notepad_Icon.svg");
	background-size: cover;
	filter: invert(1);
	position: relative;
	top: -0.3vmax;
	margin: 0 0 0 1vmin;
	border: none;
	height: 2.5vmax;
	width: 2.5vmax;
	display: none;
}

.openUIButton:hover {
	transform: scale(1.2);
}

/* Custom Input Keyboard */
.customInput {
	position: absolute;
	flex-direction: column;
	left: 23vw;
	top: 23vh;
	z-index: 100;
	border: 0.2vmax solid var(--text-color);
	background-color: var(--menu-background-color);
	height: 37vmax;
	width: 60vmax;
	transform: scaleX(0);
	display: none;
	transition: transform 0.15s linear;
}

#inputKeyboard {
	display: block;
	margin: 6.5vmax auto 0 auto;
	width: 88%;
	white-space: nowrap;
}

#inputKeyboard .row {
	width: 95%;
	margin: auto;
}

.cKey {
	border-color: var(--accent-color);
}

.cKey:hover {
	border-color: white;
}

.cKey .letter {
	z-index: -1;
	text-transform: none;
	font-size: 2vmax;
}

.normalCKey {
	border-color: #777;
}

.selectedInputKey,
.selectedInputKey:hover {
	border-color: white;
	opacity: 0.9;
}

.pulse {
	animation: pulse 0.8s infinite;
}

#selectedInputKey {
	background: var(--accent-color);
}

#customUIKeyInput {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
}

.buttonHolder {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.saveButton,
.discardButton {
	font-size: 2.3vmax;
	height: 1vmax;
	width: 1vmax;
	padding: 1vmax;
	border: none;
}

.saveButton:hover,
.discardButton:hover {
	transform: scale(1.05);
}

/* Custom Level Select */
#customUILevelSelect {
	display: flex;
	margin: 2vmax auto 2vmax auto;
	background: red 0.2;
	height: 8vmax;
	width: 100%;
}

.customUILevelButton {
	font-size: 2vmax;
	margin: 2vmax auto;
	opacity: 0.8;
	background-color: #191919;
}

.customUILevelButton:hover {
	opacity: 1;
	filter: brightness(1.5);
}

.currentCustomUILevel {
	border-color: var(--tertiary-accent-color);
	color: var(--tertiary-accent-color);
	background-color: #2f3f2f;
	opacity: 1;
}

/* Utility Classes */
.noDisplay {
	display: none;
}
.visible {
	display: block;
}
.transparent {
	opacity: 0;
}

.currentLevel {
	color: var(--accent-color);
	border-color: var(--accent-color);
	font-weight: bold;
}

/* Animations */
.slideLeft {
	position: relative;
	color: blue;
	animation: slideLeft 0.2s 1 linear;
	animation-fill-mode: forwards;
}

.slideOff {
	position: relative;
	color: blue;
	animation: slideOff 0.2s 1 linear;
	animation-fill-mode: forwards;
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
