<!-- Template for a single word in the prompt -->
<!-- This is a template fragment that will be cloned and populated -->
<template id="wordTemplate">
	<span class='word' data-word-index="0">
		<!-- Letters will be inserted here as individual spans -->
	</span>
</template>

<!-- Template for a single letter in a word -->
<template id="letterTemplate">
	<span class="letter" data-letter-index="0" style="color: gray;">
		<!-- Letter character will be inserted here -->
	</span>
</template>

<!-- Template for a line of words -->
<template id="lineTemplate">
	<span class='line' data-line-index="0">
		<!-- Words will be inserted here -->
	</span>
</template>

